<div
    class="card mt-4 p-3 shadow-lg d-flex flex-row justify-content-between align-items-center"
>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Argumentos de entrada:
            <span>{{info.argumentos}}</span></li>
        <li class="list-group-item">Sistema operativo:
            <span>{{info.OS}}</span></li>
        <li class="list-group-item">Versión de NodeJS:
            <span>{{info.nodeVersion}}</span></li>
        <li class="list-group-item">Memoria total reservada:
            <span>{{info.RSS}}</span></li>
        <li class="list-group-item">Path de ejecución:
            <span>{{info.execPath}}</span></li>
        <li class="list-group-item">ID de proceso:
            <span>{{info.processID}}</span></li>
        <li class="list-group-item">Carpeta de proceso:
            <span>{{info.processPath}}</span></li>
        <li class="list-group-item">Cantidad de procesadores:
            <span>{{info.numCPUs}}</span></li>
    </ul>
</div>